# Ignore all directories and files named "build"
build/
build*/
*build*

gvg/build/
gvg/build*/
gvg/*build*

pvp/build/
pvp/build*/
pvp/*build*

anthill/build/
anthill/build*/
anthill/*build*

log/
log*/
*log*

gvg/log/
gvg/log*/
gvg/*log*

pvp/log/
pvp/log*/
pvp/*log*

anthill/log/
anthill/log*/
anthill/*log*

__pycache__/
__pycache__*/
*__pycache__*

gvg/__pycache__/
gvg/__pycache__*/
gvg/*__pycache__*

pvp/__pycache__/
pvp/__pycache__*/
pvp/*__pycache__*

anthill/__pycache__/
anthill/__pycache__*/
anthill/*__pycache__*

# Rest of your .gitignore rules...